<table style="width: 350px">
	<tr>
		<td colspan="2">
			<h3>User Login</h3>
		</td>
	</tr>
	<tr>
		<td style="width: 100px;">
			Username:
		</td>
		<td>
			<input id="txtUsername" placeholder="Enter Username"  ng-model="username">
		</td>
	</tr>

	<tr>
		<td>
			Password:
		</td>
		<td>
			<input id="txtPassword" type="password" placeholder="Enter Password" ng-model="password">
		</td>
	</tr>
	<tr>
		<td style="text-align:center;" colspan="2">
			<button id="btnLogin" ng-click="onLogin()">Login</button>
		</td>
	</tr>

</table>