<html ng-app="testApp">
	<head>
		<script type="text/javascript" src="js/angular/lib/angular.min.js"></script>
		<script type="text/javascript">
		var testAppModule = angular.module('testApp', []);
		testAppModule.controller('messageController',['$scope', function($scope){
			$scope.message = "Welcome to AngularJS";
			$scope.firstname = "Rajesh";
			$scope.onClickButton = function(){
				alert($scope.firstname);
				//$scope.firstname = "Test"
			}

			$scope.arrayData = ["Student 1", "Student 2", "Student 3", "Student 4", "Student 5", "Student 6"];

		}]);

		testAppModule.controller('usernameController',['$scope', function($scope){
			$scope.username = "Sanjan Tara";
			$scope.onClickButton2 = function(){
				alert("button 2 clicked");
			}

			$scope.studentData = [{name: "Student 2", address: "Bangalore"}, {name: "Student 3", address: "Goa"}, {name: "Student 1", address: "Delhi"}, {name: "Student 5", address: "Hydrabad"}, {name: "Student 4", address: "Chennai"}];
		}]);
		</script>

		<style type="text/css">
			table, td, tr{

			}
		</style>
	</head>
	<body>
		<div ng-controller="messageController">
			Div 1 {{message}}
			<button ng-click="onClickButton()">Click</button>
			<input id="txtName" ng-model="firstname">
			<input id="txtName" ng-model="firstname">
			<span ng-bind="firstname"></span>
			<br>
			<br>

			<table>
				<tr ng-repeat="student in arrayData">
					<td>
						{{student}}
					</td>
				</tr>
			</table>
		</div>
		<br>
		<br>
		Search: <input ng-model="txtSearch">
		<div ng-controller="usernameController">
			Div 2 {{username}}
			<button ng-click="onClickButton2()">Click Me</button>

			<table>
				<tr>
					<td>Name</td>
					<td>Address</td>
				</tr>
				<tr ng-repeat="student in studentData | filter:txtSearch | orderBy:'address':true">
					<td>
						{{student.name | uppercase}}
					</td>
					<td>
						{{student.address | lowercase}}
					</td>
				</tr>
			</table>

		</div>

		
	</body>
</html>